---
import Layout from "../../layouts/layout.astro";

import "../../css/aviso-privacidad.css";
---

<Layout>
  <section>
    <div class="content content-aviso">
      <div class="content-limit mt-5">
        <div class="card-gray">
          <h1>AVISO DE PRIVACIDAD</h1>
          <p>
            Esta Política de Privacidad describe cómo <strong>
              NTechnology
            </strong> ("nosotros", "nuestro", "nos") recopila, utiliza y comparte
            información personal obtenida a través de nuestro sitio web <strong>
              https://n.technology.
            </strong>
            Al utilizar nuestro sitio web, aceptas las prácticas descritas en esta
            política.
          </p>
          <hr />

          <h2>Información que recopilamos:</h2>
          <p>
            Recopilamos información personal que nos proporcionas de forma
            voluntaria cuando interactúas con nuestro sitio web. Esto puede
            incluir tu nombre, dirección de correo electrónico, dirección
            postal, número de teléfono, información de pago, y cualquier otra
            información que nos proporciones.
          </p>
          <p>
            Además, recopilamos automáticamente cierta información sobre tu
            dispositivo y tu visita a nuestro sitio web, como tu dirección IP,
            navegador web, páginas que visitas en nuestro sitio, tiempo dedicado
            en cada página, y otros datos de navegación.
          </p>

          <hr />

          <h2>Uso de la información</h2>
          <p>
            Utilizamos la información recopilada para proporcionar y mejorar
            nuestros servicios, personalizar tu experiencia en nuestro sitio
            web, procesar tus transacciones, comunicarnos contigo, y cumplir con
            nuestras obligaciones legales.
          </p>

          <hr />

          <h2>Transferencia de sus datos personales</h2>
          <p>
            Su información personal podrá ser transferida a las siguientes
            personas físicas o morales, sin que legalmente se requiera su
            consentimiento:
          </p>
          <ul>
            <li>
              Autoridades a las que debamos hacerlo en virtud de una ley, con la
              finalidad de cumplir con la normatividad correspondiente.
            </li>
            <li>
              Autoridades, cuando la transferencia sea necesaria o legalmente
              exigida para la salvaguarda de un interés público, o para la
              procuración o administración de justicia.
            </li>
            <li>
              Autoridades, cuando la transferencia sea precisa para el
              reconocimiento, ejercicio o defensa de un derecho en un proceso
              judicial.
            </li>
            <li>
              Sociedades dentro de nuestro mismo grupo que operan bajo nuestros
              mismos procesos y políticas internas, para prestarles servicios o
              cumplir con nuestras políticas y normatividad interna.
            </li>
          </ul>
          <p>
            Salvo los casos señalados y los demás referidos en el artículo 37 de
            la Ley Federal de Protección de Datos Personales en Posesión de los
            Particulares, su información personal no será trasferida.
          </p>

          <hr />

          <h2>Divulgación de información</h2>
          <p>
            No vendemos, alquilamos ni compartimos tu información personal con
            terceros, excepto cuando sea necesario para proporcionar nuestros
            servicios, cumplir con la ley, proteger nuestros derechos o en caso
            de una fusión, adquisición o venta de activos.
          </p>

          <hr />

          <h2>Cookies</h2>
          <p>
            Utilizamos cookies y tecnologías similares para mejorar la
            experiencia del usuario, analizar el tráfico del sitio y
            personalizar el contenido. Puedes configurar tu navegador para que
            rechace todas las cookies o para que te avise cuando se envía una
            cookie. Sin embargo, si desactivas las cookies, es posible que
            algunas funciones de nuestro sitio web no estén disponibles.
          </p>

          <hr />

          <h2>Enlaces a sitios de terceros</h2>
          <p>
            Nuestro sitio web puede contener enlaces a sitios web de terceros
            que no están controlados por nosotros. No somos responsables de las
            prácticas de privacidad o el contenido de dichos sitios web.
            Recomendamos revisar las políticas de privacidad de esos sitios
            antes de proporcionar información personal.
          </p>

          <hr />

          <h2>Seguridad</h2>
          <p>
            Implementamos medidas de seguridad razonables para proteger tu
            información personal contra el acceso no autorizado, la alteración,
            la divulgación o la destrucción. Contamos con procedimientos
            físicos, electrónicos y administrativos para cuidar la
            confidencialidad, disponibilidad e integridad de su información.
            Estamos certificados en el estándar internacional ISO/IEC 27001-2013
            y actualmente nos encontramos en transición a la versión 2022 de
            esta norma.
          </p>

          <hr />

          <h2>Cambios en esta política</h2>
          <p>
            Nos reservamos el derecho de actualizar esta Política de Privacidad
            en cualquier momento. Te recomendamos revisar periódicamente esta
            página para conocer los cambios. La fecha de la última actualización
            se indica al final de esta política.
          </p>

          <p class="text-center mt-5">
            Si tienes alguna pregunta sobre esta Política de Privacidad, puedes
            contactarnos en: <br />
            <span class="color-verde">seguridad.informacion@n.technology</span>
          </p>
          <p class="text-center">
            <small style="opacity: 0.3;"
              >Fecha de última actualización: 16 de abril del 2024
            </small>
          </p>
        </div>
      </div>
    </div>
  </section>
</Layout>
