---
import Layout from "../../layouts/layout.astro";
import "../../css/home.css";

import BtnReserva from "../../components/btn-reserva.astro";
---

<Layout>
  <section id="inicio">
    <div class="content content-inicio">
      <h1>
        DIGITAL<span>.</span> EVOLUTION<span>.</span>
      </h1>
      <p class="p-inicio">
        We accelerate the evolution of your <br />
        organization through technology.
      </p>
      <BtnReserva />
    </div>
  </section>
  <section>
    <div class="content-cohete">
      <img src="/img/cohete.png" class="cohete" alt="cohete" />
      <div class="card-gray box-cohete">
        <div class="z-5">
          <h2 style="font-size: 30px;">
            Does your technological ecosystem drive continuity, evolution and
            profitability?
          </h2>
          <br />
          <br />
          <a href="#" class="btn-main">Chat with an expert</a>
        </div>
        <div class="z-5">
          <ul class="list-cohete font-light">
            <li>
              <img src="/img/icon-right.png" alt="" />
              <span>
                Are your technological systems too complex to manage?
              </span>
            </li>
            <li>
              <img src="/img/icon-right.png" alt="" />
              <span>
                Is downtime and latency in your systems costing you money and
                productivity?
              </span>
            </li>
            <li>
              <img src="/img/icon-right.png" alt="" />
              <span>
                Do you have a large number of unsatisfied users and do not have
                the necessary resources to address and solve their problems?
              </span>
            </li>
            <li>
              <img src="/img/icon-right.png" alt="" />
              <span>
                Is your IT department Still a cost center instead of an
                strategic area?
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-gray-gran" style="margin-top: 50px;">
        <h2 style="font-size: 35px;">
          We understand that you deserve an evolved approach to your IT
          services.
        </h2>
        <p style="color: var(--verde); font-size: 20px;">
          Find out how N Technology can help you
        </p>
      </div>
    </div>
  </section>
  <section id="servicios">
    <div class="content-servicios">
      <div
        style="display: flex; gap: 50px; justify-content: space-between; align-items: center;">
        <div style="width: 500px;">
          <h2 style="font-size: 40px;">
            Simplify IT initiatives and operations with our services and
            platforms.
          </h2>
          <hr style="width: 100px; margin-left: -20px;" />
          <p>
            We integrate proprietary technologies, strategic partnerships, our
            skilled team of engineers, and our specialized processes.
          </p>
          <p>
            This leads to decreased IT operational expenses, enhanced
            performance and availability of applications and services, and
            increased agility to tackle business challenges effectively.
          </p>
        </div>

        <div class="items-serv">
          <ul>
            <li>
              <a href="#servicios">
                <img src="/img/home-icon-serv-1.png" alt="Icono velocity" />
                Autonomous ITOps
              </a>
            </li>
            <li>
              <a href="/servicio-itops/">
                <img src="/img/home-icon-serv-2.png" alt="Icono velocity" />
                ITOps
              </a>
            </li>
            <li>
              <a href="#servicios">
                <img src="/img/home-icon-serv-3.png" alt="Icono velocity" />
                Public Cloud
              </a>
            </li>
            <li>
              <a href="/servicio-nube-privada/">
                <img src="/img/home-icon-serv-4.png" alt="Icono velocity" />
                Private Cloud
              </a>
            </li>
            <li>
              <a href="/servicio-multicloud/">
                <img src="/img/home-icon-serv-5.png" alt="Icono velocity" />
                Data and ML
              </a>
            </li>
            <li>
              <a href="#servicios">
                <img src="/img/home-icon-serv-7.png" alt="Icono velocity" />
                Industrial Monitoring
              </a>
            </li>
            <li>
              <a href="#servicios">
                <img src="/img/home-icon-serv-8.png" alt="Icono velocity" />
                Hardware
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="content-alianzas">
      <div class="box-alianzas">
        <div
          style="display: flex; align-items: center; justify-content: space-between;">
          <img src="/img/partners/Ntech_Recorte-7-8.png" alt="Logo Alibaba" />
          <img src="/img/partners/Ntech_Recorte-7-3.png" alt="Logo Oracle" />
          <img src="/img/partners/Ntech_Recorte-7-7.png" alt="Logo Kaytus" />
          <img src="/img/partners/Ntech_Recorte-7-6.png" alt="Logo Atlassian" />
        </div>
        <div
          style="display: flex; align-items: center; justify-content:center; margin-top: 60px; gap: 60px;">
          <img src="/img/partners/Ntech_Recorte-7-9.png" alt="Logo Manage" />
          <img src="/img/partners/Ntech_Recorte-7-2.png" alt="Logo RocketBot" />
          <img src="/img/partners/Ntech_Recorte-7-1.png" alt="Logo Microsoft" />
        </div>
        <div
          style="display: flex; align-items: center; justify-content:center; margin-top: 60px; gap:50px; margin-left: -200px;">
          <img src="/img/partners/Ntech_Recorte-7-5.png" alt="Logo bmc" />
          <img src="/img/partners/Ntech_Recorte-7-4.png" alt="Logo Zabbix" />
          <img src="/img/partners/Ntech_Recorte-7-10.png" alt="Logo Red Hat" />
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="content-evolucion">
      <div
        class="card-gray"
        style="text-align: center; display: block; padding: 60px;">
        <h2 style="font-size:50px; width: 100%;" class="title-evo">
          Evolution<span style="color: var(--verde);">.</span>
        </h2>

        <p style="font-size:20px; font-family: Sofia Pro light;">
          Enable adaptability, enhance efficiency, and boost the profitability
          of organizations through technological solutions.
        </p>

        <img
          src="/img/hands-greeting.png"
          alt="Saludo"
          class="hands-greeting"
        />
      </div>
    </div>
  </section>
  <section>
    <div class="content-ubicaciones">
      <img src="/img/ubicaciones.png" alt="" style="width: 100%;" />
    </div>
  </section>
  <section>
    <div class="content content-ayudamos">
      <div class="content-limit mt-6">
        <div class="card-gray" style="padding-bottom: 180px;">
          <h2 class="text-center font-5" style="width: 100%;">
            Let's get started today with 3 easy steps
          </h2>
        </div>
        <div class="flex justify-center gap-6 box-columns-green">
          <div class="column-green">
            <img
              src="/img/en/paso-contact.png"
              alt="Msp"
              style="transform: scale(93%) translateY(10px);"
            />
            <p class="text-center" style="">
              Please provide a concise overview of your organization, its goals,
              and the technological challenges you're facing.
            </p>
          </div>
          <div class="column-green">
            <img src="/img/en/paso-diagnostico.png" alt="Enterprise" />
            <p class="text-center" style="">
              Receive a complimentary evaluation with one of our experts to
              acquire a roadmap outlining the necessary steps for your
              evolution.
            </p>
          </div>
          <div class="column-green">
            <img
              src="/img/en/paso-evolucion.png"
              style="transform: scale(100%) translateY(-10px);"
              alt="Pyme"
            />
            <p class="text-center" style="transform: translateY(-10px);">
              By putting your technology concerns aside, you can prioritize what
              really matters: growing your business.
            </p>
          </div>
        </div>

        <div class="text-center mt-3">
          <a href="" class="btn-main"> Start Today </a>
        </div>
      </div>
    </div>
  </section>
</Layout>
