---
import Layout from "../../layouts/layout.astro";

import "../../css/nosotros.css";

import BtnReserva from "../../components/btn-reserva.astro";
---

<Layout>
  <section id="inicio">
    <div class="content content-inicio">
      <h1>OUR PURPOSE<span>.</span></h1>
      <p class="p-inicio">
        Accelerate the evolution of organizations through technology.
      </p>
      <BtnReserva />
    </div>
  </section>
  <section>
    <div class="content content-orgs">
      <div class="content-limit">
        <div class="card-gray relative">
          <img
            src="/img//robot-hand.png"
            alt="Mano robotica"
            class="mano-robot"
          />
          <img
            src="/img//human-hand.png"
            alt="Mano humana"
            class="mano-humana"
          />
          <h2 class="text-center font-5 mt-4">
            Our Purpose is to accelerate the evolution of technology-enabled
            organizations by allowing them to routinely innovate through the
            implementation, development and operation of your digital assets.
          </h2>
          <p class="text-center font-2 font-light mt-2">
            We enable technology as the engine of innovation, growth and value
            for all interest groups, resulting in transversally digital
            organizations.
          </p>
          <div class="text-center mt-3">
            <a href="" class="btn-main">Chat with an expert</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="content content-tec">
      <div class="content-limit mt-5">
        <div class="flex gap-2">
          <div style="width: 50%;">
            <h2 class="font-5">
              Technology for the <br />
              good of all
            </h2>
            <hr style="width: 100px;" />
            <p class="font-light">
              We prioritize the modernization of industries and the evolution of
              cutting-edge technologies. Our mission extends to the creation of
              new business paradigms driven by technology-based initiatives for
              the benefit of society
            </p>
            <img
              src="/img//co-creating.png"
              alt="Co creating the feature"
              style="width: 100%;"
              class="mt-1"
            />
          </div>
          <div style="width: 50%;">
            <img src="/img//lap-blanck.png" alt="Laptop" style="width: 100%;" />
            <p class="font-light">
              Our vision is to accelerate the evolution of society through
              technology, recognizing its crucial role in guaranteeing its
              sustainability.
            </p>
            <p class="font-light">
              We are committed to fostering inclusive technology ecosystems,
              making them accessible to everyone, regardless of their technical
              experience or economic situation.
            </p>
            <p class="font-light">
              At <strong class="color-verde">n.technology</strong>, inclusivity
              is not just a goal; It is a fundamental principle that we uphold,
              ensuring that technology serves as a force for the benefit of all.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="content content-evolucion mt-4 content-image">
      <div class="content-limit flex justify-between align-center gap-3">
        <div style="width: 33%;">
          <h2 class="font-5">
            Constantly evolving<span class="color-verde">.</span>
          </h2>
          <p class="font-3 font-light mt-2">
            Technologies evolve and so do we.
          </p>
          <hr style="width: 50px;" />
        </div>
        <div style="width: 33%;" class="text-center">
          <img src="/img//robot-face.png" alt="" style="width: 250px;" />
        </div>
        <div style="width: 33%;">
          <p class="font-2">
            From providing traditional IT Operations services, we have evolved
            into a company that is at the forefront of exponential technologies.
          </p>
          <p>
            Therefore, we integrate the latest in
            <strong>
              Artificial Intelligence, Internet of Things, Machine Learning and
              other technologies
            </strong>
            , to provide cutting-edge services.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="content content-open mt-6">
      <div class="card-open content-image relative">
        <img
          src="/img//integrantes.png"
          alt="Integrantes de Ntech"
          class="img-integrantes"
        />
        <h2 class="font-6 text-center">
          At N technology we promote the <strong class="color-verde">
            "Open Source"
          </strong> culture<span class="color-verde">.</span>
        </h2>
        <div style="width: 50%;" class="font-3 font-light mt-6">
          <p>
            We seek to be agnostic in exploring the best ways to solve our
            clients and allies challenges.
          </p>
          <p>
            We foster a multidisciplinary talent pool capable of offering unique
            perspectives when tackling problems and proficient in utilizing any
            technological solution or tool available.
          </p>
        </div>
      </div>
    </div>
  </section>
</Layout>
