---
import Layout from "../../layouts/layout.astro";

import "../../css/porque.css";

import BtnReserva from "../../components/btn-reserva.astro";
---

<Layout>
  <section id="inicio">
    <div class="content content-inicio">
      <h1>WHY N<span>.</span>TECHNOLOGY</h1>
      <p class="p-inicio">
        We simplify IT initiatives and operations with our range of services and
        platforms
      </p>
      <BtnReserva />
    </div>
  </section>
  <section>
    <div class="content content-ti">
      <div class="content-limit">
        <div class="card-gray flex justify-between gap-3">
          <p class="font-bold font-3">
            By leveraging a blend of proprietary technologies and strategic
            partnerships, our team of engineers and specialized processes we
            have developed a suite of services aimed at streamlining IT
            operations<span class="color-verde">.</span>
          </p>
          <div
            class="flex justify-center align-center"
            style="min-width: 250px;">
            <img
              src="/img//mundo-tuerca.png"
              alt="Planeta"
              style="width: 100%;"
            />
          </div>
          <p class="font-light font-3">
            Resulting in reduced IT operating costs, better performance and
            availability of applications and services, and superior agility to
            meet business challenges.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="content content-alianzas">
      <div class="content-limit mt-6">
        <div class="flex align-center" style=" justify-content: space-between;">
          <img src="/img//partners/Ntech_Recorte-7-8.png" alt="Logo Alibaba" />
          <img src="/img//partners/Ntech_Recorte-7-3.png" alt="Logo Oracle" />
          <img src="/img//partners/Ntech_Recorte-7-7.png" alt="Logo Kaytus" />
          <img
            src="/img//partners/Ntech_Recorte-7-6.png"
            alt="Logo Atlassian"
          />
        </div>
        <div class="flex align-center justify-center mt-3 gap-5">
          <img src="/img//partners/Ntech_Recorte-7-9.png" alt="Logo Manage" />
          <img
            src="/img//partners/Ntech_Recorte-7-2.png"
            alt="Logo RocketBot"
          />
          <img
            src="/img//partners/Ntech_Recorte-7-1.png"
            alt="Logo Microsoft"
          />
        </div>
        <div
          class="flex align-center justify-center mt-3 gap-5"
          style="margin-left: -200px;">
          <img src="/img//partners/Ntech_Recorte-7-5.png" alt="Logo bmc" />
          <img src="/img//partners/Ntech_Recorte-7-4.png" alt="Logo Zabbix" />
          <img src="/img//partners/Ntech_Recorte-7-10.png" alt="Logo Red Hat" />
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="content content-proces">
      <div class="content-limit mt-6" style="width: 850px;">
        <p class="font-light font-4 text-center">
          The processes that make up our different services are certified under
          to the following international norms and standards, ensuring their
          effective management, safety, and quality.
        </p>
      </div>
    </div>
  </section>
  <section>
    <div class="content content-isos">
      <div class="content-limit mt-6">
        <div class="flex gap-2 justify-center box-isos gap-6">
          <img src="/img//iso-20001.png" alt="Iso 20001" />
          <img src="/img//iso-27001.png" alt="27001" />
          <img src="/img//iso-9001.png" alt="9001" />
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="content content-ayudamos">
      <div class="content-limit mt-6">
        <div class="card-gray" style="padding-bottom: 180px;">
          <h2 class="text-center font-5">HOW CAN WE HELP YOU?</h2>
        </div>
        <div class="flex justify-center gap-6 box-columns-green">
          <div class="column-green">
            <img
              src="/img/ayuda-msp.png"
              alt="Msp"
              style="transform: scale(93%) translateY(-27px);"
            />
            <p class="text-center" style="">
              We assist service providers in expanding their offerings,
              enhancing service levels, while simultaneously reducing
              operational costs, thus maximizing their profits.
            </p>
          </div>
          <div class="column-green">
            <img src="/img/ayuda-enterprise.png" alt="Enterprise" />
            <p class="text-center" style="">
              We aid large enterprises in overseeing their IT departments and
              projects by modernizing and streamlining operations, ensuring
              stability, and reducing operating costs. This allow them to
              concentrate on areas that deliver the most value to the business.
            </p>
          </div>
          <div class="column-green">
            <img src="/img/en/ayuda-pyme.png" alt="Pyme" />
            <p class="text-center" style="">
              We integrate various enterprise-level services into flexible
              packages at cost-effective rates, empowering small and
              medium-sized enterprises (SMEs) to leverage technology and achieve
              impactful outcomes.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
