---
import Layout from "../../layouts/layout.astro";
import "../../css/servicio-multi.css";

import BtnReserva from "../../components/btn-reserva.astro";
---

<Layout>
  <!-- <img src="../img/multi.png" alt="" style="width: 100%;" class="mt-5" /> -->

  <section id="inicio">
    <div class="content content-inicio">
      <div class="content-limit">
        <img src="/img/inicio-icon-serv-itops.png" alt="Icono Itops" />
        <h1 class="mt-2">MULTI CLOUD<span>.</span></h1>
        <p class="color-verde font-4 font-light mt-2">
          We migrate and manage your workloadsccross different clouds, allowing
          you to utilize multiple platforms simultaneously for storing data,
          running applications, and accessing computing serviceS.
        </p>
        <div class="mt-2">
          <BtnReserva />
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="content content-ti">
      <div class="content-limit">
        <div class="card-gray flex justify-between align-center gap-3">
          <p class="font-bold font-2" style="max-width: 250px;">
            We perform a strategic advisory task for the effective use of cloud
            platforms that adapt to our clients' needs<span class="color-verde"
              >.</span
            >
          </p>
          <div
            class="flex justify-center align-center"
            style="min-width: 250px;">
            <img src="/img/multinube.png" alt="Planeta" style="width: 300px;" />
          </div>
          <div>
            <p class="font-light font-1">
              We do this with the vision of improving their costs and
              streamlining their workloads<span class="color-verde">.</span>
            </p>
            <a href="" class="btn-main mt-2">Chatea con un experto</a>
          </div>
        </div>
        <p
          class="text-center mt-4 font-light font-2"
          style="line-height: 40px;">
          We provide Our clients With Clarity on Why to use the Cloud, reduce
          migration time, and work on transforming applications and data into
          more efficient, modern, and agile platforms. This allows organizations
          to expand their projects and decrease dependence on complex and
          unsustainable management.
        </p>

        <div class="flex align-center justify-between mt-4">
          <img src="/img/partners/Ntech_Recorte-7-8.png" alt="Logo Alibaba" />
          <img src="/img/partners/Ntech_Recorte-7-3.png" alt="Logo Oracle" />
          <img src="/img/partners/Ntech_Recorte-7-1.png" alt="Logo Microsoft" />
        </div>

        <div class="flex justify-center gap-6 box-brindas mt-4">
          <article>
            <h2>Applications</h2>
            <hr style="width: 50px;" />
            <p class="font-light">
              <br />•ERP Migration (SAP, Oracle)
              <br />•AMS (Application Management Services)
              <br />•Migration
              <br />•Modernization
              <br />•DevOps Containers
              <br />•Backup and Replication
            </p>
          </article>
          <article>
            <h2>Public Cloud</h2>
            <hr style="width: 50px;" />
            <p class="font-light">
              <br />• Proactive, reactive, and responsive monitoring
              <br />• Multi-cloud architecture
              <br />• DRP implementation and management
              <br />• Multi-cloud management
            </p>
          </article>
          <article>
            <h2>Data</h2>
            <hr style="width: 50px;" />
            <p class="font-light">
              <br /> • Data Transformation
              <br /> • Data Administration
              <br /> • Management Advanced
              <br /> • Analytics Al
              <br /> • ML Data Governance
            </p>
          </article>
          <article>
            <h2>Security</h2>
            <hr style="width: 50px;" />
            <p class="font-light">
              <br /> • Data protection
              <br /> • Access control
              <br /> • Best practices
              <br /> • Security management
            </p>
          </article>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="content content-cloud-manag">
      <div class="content-limit mt-6">
        <img
          src="/img/en/cloud-manag.png"
          alt="Cloud manager"
          style="width: 100%;"
        />
      </div>
    </div>
  </section>
</Layout>
