---
import Layout from "../../layouts/layout.astro";
import "../../css/servicio-nube-privada.css";

import BtnReserva from "../../components/btn-reserva.astro";
---

<Layout>
  <!-- <img src="../img/nube-privada.png" alt="" style="width: 100%;" class="mt-5" /> -->

  <section id="inicio">
    <div class="content content-inicio">
      <div class="content-limit">
        <img src="/img/inicio-icon-serv-itops.png" alt="Icono Itops" />
        <h1 class="mt-2">PRIVATE CLOUD<span>.</span></h1>
        <p class="color-verde font-4 font-light mt-2">
          Our private and/or hybrid cloud service is designed for organizations
          that demand the highest level of control over their data while also
          seeking to leverage the advantages of public cloud platforms.
        </p>
        <div class="mt-2">
          <BtnReserva />
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="content content-ti">
      <div class="content-limit">
        <div class="card-gray flex justify-between gap-3">
          <p class="font-bold font-2">
            We Offer a solution that combines the security and exclusivity of a
            private cloud infrastructure with the scalability, innovation, and
            cost efficiency of the public cloud<span class="color-verde">.</span
            >
          </p>
          <div
            class="flex justify-center align-center"
            style="min-width: 250px;">
            <img
              src="/img/shield-cloud.png"
              alt="Planeta"
              style="width: 300px;"
            />
          </div>
          <div>
            <p class="font-light font-1">
              This enables our clients to enjoy secure and compliant data
              management alongside the flexibility to rapidly expand resources
              and adopt cutting-edge services as needed, ensuring an optimal
              platform for growth and innovation in an ever-evolving
              technological environment<span class="color-verde">.</span>
            </p>
            <a href="" class="btn-main">Chat with an expert</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="content content-apsara">
      <div class="content-limit mt-6">
        <h2 class="text-center font-5">
          Our <span class="color-verde">Apsara Stack Solution</span>
        </h2>
        <p class="text-center font-light font-2" style="line-height: 40px;">
          Apsara Stack is a stable, secure, open, and intelligent solution that
          provides industry customers, such as public service sectors,
          enterprises, and carriers, with a consistent cloud service experience
          and powerful Cloud computing technologies. Apsara Stack combines
          leading technical capabilities in the Asia-Pacific region with
          comprehensive operational capabilities. You can use Apsara Stack to
          provide a full range of Cloud services for yourself and for third
          parties.
        </p>

        <div class="flex justify-center gap-6 box-brindas mt-4">
          <article>
            <h2>Benefits</h2>
            <hr style="width: 50px;" />
            <p class="font-light">
              Apsara Stack provides a financial-grade disaster recovery solution
              that is iteratively optimized based on feedback from millions Of
              users on Alibaba Cloud to ensure high system availability and
              business continuity.
            </p>
          </article>
          <article>
            <h2>Secure</h2>
            <hr style="width: 50px;" />
            <p class="font-light">
              Apsara Stack uses a native cloud security architecture to provide
              users with multidimensional multi-layered protection. Apsara Stack
              is the first Cloud platform to pass the Commercial Cryptography
              Application Security Assessment and the first cloud service
              provider to pass the Multi-LeveI Protection Scheme (MLPS) 2.0
              Level 4.
            </p>
          </article>
          <article>
            <h2>Open</h2>
            <hr style="width: 50px;" />
            <p class="font-light">
              Apsara Stack provides standard-compatible development APIS. Apsara
              Stack is compatible with hardware from multiple brands and allows
              you to flexibly deploy 70+ Apsara Stack services, such as Al,
              middleware, and big data services, in your data center.
            </p>
          </article>
          <article>
            <h2>Intelligent</h2>
            <hr style="width: 50px;" />
            <p class="font-light">
              Apsara Stack provides an enterprise-level cloud management
              platform. Apsara Stack integrates monitoring, management, and
              control capabilities based on centralized cloud asset management
              to implement smart command and automated OEM. Apsara Stack has
              mature Al algorithms that have been proven on a large scale.
            </p>
          </article>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="content content-enterprise">
      <div class="content-limit mt-6">
        <h2 class="text-center font-5">
          Enterprise Edition<span class="color-verde">.</span>
        </h2>
        <p class="text-center font-light font-2" style="line-height: 40px;">
          Apsara Stack Enterprise Edition provides a full-stack cloud platform
          for medium and large-scale business customers. Customers can use the
          same features as those Of Alibaba Cloud services in the Apsara Stack
          environment. Apsara Stack Enterprise Edition can be used to build
          large-scale multi-level Clouds for public service sectors and
          enterprises or industry Clouds. Apsara Stack Enterprise Edition also
          provides a miniaturized lightweight cloud platform to help early-stage
          cloud adopters migrate their applications to the cloud.
        </p>
        <div class="text-center mt-2">
          <div class="card-num">
            <span class="color-verde">Recommended number of servers:</span>
            20 to 10.000
          </div>
        </div>

        <div class="mt-3 box-enter-priv gap-5">
          <article>
            <h3 class="font-3 flex align-center gap-3">
              On-demand <br />
              scale
              <img src="/img/icon-enter-private-1.png" alt="" />
            </h3>
            <p class="font-light">
              Apsara Stack is suitable for customers who run ultra-large-scale
              business. Customers can deploy Apsara Stack on up to 10,000
              servers in a single region. Customers can also use Apsara Stack to
              run their business across multiple regions. In addition, Apsara
              Stack provides a miniaturized lightweight cloud platform to help
              early-stage cloud adopters migrate their applications to the
              cloud.
            </p>
          </article>
          <article>
            <h3 class="font-3 flex align-center gap-3">
              Comprehensive <br />
              solution
              <img src="/img/icon-enter-private-2.png" alt="" />
            </h3>
            <p class="font-light">
              Apsara Stack and Alibaba Cloud are developed based on the same
              architecture.
            </p>
            <p class="font-light">
              Apsara Stack provides 70+ services that are available on Alibaba
              Cloud and supports the hot update of these services. Customers can
              avail the latest Alibaba Cloud services from the Apsara Stack
              environment.
            </p>
            <p class="font-light">
              Customers can also run their Apsara Stack applications on Alibaba
              Cloud with a few simple steps. Apsara Stack provides a
              comprehensive hybrid solution for various scenarios.
            </p>
          </article>
          <article>
            <h3 class="font-3 flex align-center gap-3">
              Security and <br /> stability
              <img src="/img/icon-enter-private-3.png" alt="" />
            </h3>
            <p class="font-light">
              The native security architecture Of Apsara Stack provides
              multi—layered, integrated security protection services. Apsara
              Stack is the first cloud service provider in China to pass the
              MLPS 2.0 Level 4 certification. Apsara Stack has passed multiple
              security certifications such as Trusted Cloud Services (T RUCS)
              Certification, ISO/IEC 27001, and General Data Protection
              Regulation (GDPR)
            </p>
            <p class="font-light">
              For financial services, Apsara Stack provides three data centers
              across two zones and active geo-redundancy. These features ensure
              high system reliability and business continuity.
            </p>
          </article>
          <article>
            <h3 class="font-3 flex align-center gap-3">
              Rich industry <br />
              experience
              <img src="/img/icon-enter-private-4.png" alt="" />
            </h3>
            <p class="font-light">
              Apsara Stack has rich experience in building full-stack cloud
              platforms for public service sectors and financial customers.
            </p>
            <p class="font-light">
              Apsara Stack facilitates medium and large-scale public service
              sectors and enterprises to achieve a secure and stable cloud
              migration.
            </p>
          </article>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="content content-apsara">
      <div class="content-limit mt-5">
        <img
          src="/img/nube-privada-apsara.png"
          alt="Apsara"
          style="width: 100%;"
        />
      </div>
    </div>
  </section>
</Layout>
