---

---

<html lang="es-MX">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="img/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Ntechnology</title>
    <link rel="stylesheet" href="styles/app_prefixer.css?v=1.0.1" />
  </head>
  <body>
    <header>
      <a href="/#inicio" class="logo-ntech">
        <img src="/img/logo.png" alt="Logo Ntechnology" />
      </a>
      <a href="#" style="border: none;">Servicios</a>
      <a href="#">Nosotros</a>
      <a href="#">Por qué Ntechnology</a>
      <a href="https://n.technology/news/" target="_blank">Blog</a>
      <a href="#">Contacto</a>
    </header>
    <main>
      <img
        src="img/agileops.png"
        alt="agileops"
        style="width: 100%; margin-top: 200px;"
      />
    </main>
    <footer>
      <img src="/img/footer-lines.png" alt="" class="lines-footer" />

      <div class="footer-box-info">
        <div>
          <span style="color: var(--verde); font-family: 'Sofia Pro bold';"
            >Technology Innovation Campus</span
          >
          <br />

          Av. Insurgentes Sur 303, <br />
          Hipódromo Condesa, Cuauhtémoc, <br />
          C.P. 06100 <span style="color: var(--verde);"> | </span> CDMX
        </div>
        <div>
          <img src="/img/icon-mail.png" alt="" />
          contacto@n.technology <br />

          <img src="/img/icon-phone.png" alt="" />
          55 . 1169 . 1227
        </div>
        <div>
          <h2>n<span style="color: var(--verde);">.</span>technology</h2>
          <img src="/img/icon-link.png" alt="" />
          /n-technology
        </div>
      </div>
      <div class="copyright-footer">
        Copyright @ 2023 | All rights reservedNTechnology
      </div>
    </footer>
  </body>

  <script>
    document.querySelector(".box-items-pasos").classList.add("animated");
  </script>
</html>
