---
import Layout from "../layouts/layout.astro";

import "../css/fundadores.css";
---

<Layout>
  <section id="inicio">
    <div class="content content-inicio">
      <div class="content-limit">
        <h1>FUNDADOR<span>.</span></h1>
        <br />
        <br />
        <p class="p-inicio">
          David Adissi es fundador y director general de n.technology además de
          piloto de autos de carreras.
        </p>
      </div>
    </div>
  </section>
  <section>
    <div class="content content-provi">
      <div class="content-limit mt-4">
        <div class="card-gray">
          <div class="flex justify-between align-center gap-3">
            <div style="width: 50%;">
              <h2 class="font-5">
                Proviniendo de este mundo la mayor parte de su experiencia en
                los negocios y sus primeros acercamientos con Ia tecnología<span
                  class="color-verde">.</span
                >
              </h2>
            </div>
            <div style="width: 50%;">
              <img
                src="/img/david-first.png"
                alt="David"
                style="width: 100%;"
              />
            </div>
          </div>
          <div class="flex justify-between align-center gap-3 mt-1">
            <div style="width: 50%;">
              <img
                src="/img/david-second.png"
                alt="David"
                style="width: 100%;"
              />
            </div>
            <div style="width: 50%;">
              <p class="font-light">
                En el ámbito de la innovación tecnológica y el liderazgo
                empresarial, Adissi emerge como un pionero comprometido en dar
                forma al futuro de la industria y la sociedad.
              </p>
              <p class="font-light">
                En el núcleo de la misión de Adissi yace un compromiso profundo
                con la tecnificación de las industrias impulsada por tecnologías
                de vanguardia. A través de un liderazgo visionario, Adissi
                lidera el desarrollo de soluciones que impulsan a las industrias
                hacia la era digital y fomentando un crecimiento y eficiencia
                sin igual.
              </p>
            </div>
          </div>

          <div class="flex gap-3 mt-3">
            <div style="width: 50%;">
              <p class="font-light" style="font-size: 15px;">
                Sin embargo, la visión de Adissi va más allá del mero avance
                tecnológico; abarca una comprensión profunda las implicaciones
                sociales de la tecnología. la tecnología como piedra angular de
                la sostenibilidad social y el progreso, Adissi se esfuerza por
                aprovechar su potencial para acelerar la evolución de la
                sociedad.
              </p>
              <p class="font-light" style="font-size: 15px;">
                Central para la ética de Adissi está el principio de inclusión.
                Él cree firmemente en hacer que la tecnología sea accesible para
                todos, independientemente de la destreza técnica o la situación
                económica. Enfatizando la importancia de Ia inclusividad, Adissi
                aboga un cambio de paradigma hacia un panorama tecnológico que
                priorice Ia equidad sobre el privilegio.
              </p>
              <p class="font-light" style="font-size: 15px;">
                En esencia, el viaje de Adissi ejemplificó lo convergencia de la
                evolución tecnológica, el liderazgo visionario y el impacto
                social. Como fundador de una empresa destinada a evolucionar e
                impulsar un cambio positivo, Adissi permanece firme en su
                compromiso de promover el progreso de la sociedad a través de la
                tecnología.
              </p>
            </div>
            <div class="img-compo-fundador">
              <img src="/img/auto-team.png" alt="" style="width: 100%;" />
            </div>
          </div>
          <img
            src="/img/car-fundador.png"
            alt=""
            style="width: 100%; margin-top: -100px;"
          />
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="content content-racing content-image">
      <div class="content-limit">
        <h2 class="text-center" style="font-size:70px; margin-bottom: 0px;">
          n<span class="color-verde">.</span>technology Racing
        </h2>
        <p class="color-verde text-center font-3 mt-1">
          <strong>Lamborghini Super Trofeo North America</strong>
        </p>

        <div class="flex align-center justify-center gap-4 mt-2">
          <div class="flex align-center" style="flex-direction: column;">
            <img src="/img/racing-david.png" style="width: 100%;" alt="David" />
            <span>David Adissi</span>
          </div>
          <div class="flex align-center" style="flex-direction: column;">
            <img src="/img/racing-luis.png" style="width: 95%;" alt="Luis" />
            <span>Luis "Chapulín" Díaz</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="content content-car-video">
      <div class="content-limit relative" style="padding-bottom: 100px;">
        <video class="video-car" controls muted autoplay loop>
          <source src="/img/car.mp4" />
        </video>

        <img
          src="/img/circle-video-fondo.png"
          alt=""
          class="img-circle-fondo-video absolute"
        />
      </div>
    </div>
  </section>
</Layout>
