---
import Layout from "../layouts/layout.astro";
import "../css/home.css";

import BtnReserva from "../components/btn-reserva.astro";

import { getLangFromUrl, useTranslations } from "../i18n/utils.ts";
const lang = getLangFromUrl(Astro.url);
const tl = useTranslations(lang);
---

<Layout>
  <section id="inicio">
    <div class="content content-inicio">
      <h1>
        EVOLUCIÓN<span>.</span> DIGITAL<span>.</span>
      </h1>
      <p class="p-inicio">
        Aceleramos la evolución de tu organización <br />
        a través de la tecnología.
      </p>
      <BtnReserva />
    </div>
  </section>
  <section>
    <div class="content-cohete">
      <img src="img/cohete.png" class="cohete" alt="" />
      <div class="card-gray">
        <div class="z-5">
          <h2 style="font-size: 30px;">
            ¿Tu ecosistema tecnológico impulsa la continuidad, evolución y
            rentabilidad?
          </h2>
          <br />
          <br />
          <a href="#" class="btn-main">Contactanos</a>
        </div>
        <div class="z-5">
          <ul class="list-cohete font-light">
            <li>
              <img src="img/icon-right.png" alt="" />
              <span> ¿Tus sistemas son demasiado complejos de gestionar? </span>
            </li>
            <li>
              <img src="img/icon-right.png" alt="" />
              <span>
                ¿Las bajas y latencia en tus sistemas te están costando dinero y
                productividad?
              </span>
            </li>
            <li>
              <img src="img/icon-right.png" alt="" />
              <span>
                ¿Tienes una gran cantidad de usuarios insatisfechos y careces de
                los recursos necesarios para atender y resolver sus problemas?
              </span>
            </li>
            <li>
              <img src="img/icon-right.png" alt="" />
              <span>
                ¿Tu departamento de TI sigue siendo un centro de costos y no un
                área estratégica?
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-gray-gran" style="margin-top: 50px;">
        <h2 style="font-size: 35px;">
          Sabemos que mereces un enfoque evolucionado en tus servicios de TI.
        </h2>
        <p style="color: var(--verde); font-size: 20px;">
          Descubre como N Technology te puede ayudar
        </p>
      </div>
    </div>
  </section>
  <section id="servicios">
    <div class="content-servicios">
      <div
        style="display: flex; gap: 50px; justify-content: space-between; align-items: center;">
        <div style="width: 500px;">
          <h2 style="font-size: 40px;">
            Eliminamos la complejidad de las iniciativas y operaciones de TI con
            nuestros servicios y plataformas.
          </h2>
          <hr style="width: 100px; margin-left: -20px;" />
          <p>
            Combinamos tecnologías propietarias, alianzas estratégicas, nuestro
            equipo de ingenieros y nuestros procesos especializados.
          </p>
          <p>
            Resultando en la reducción de costos operativos de TI, mejores
            rendimientos y disponibilidad de aplicaciones y servicios, y mayor
            agilidad para enfrentar los retos de negocio.
          </p>
        </div>
        <div class="items-serv">
          <ul>
            <li>
              <a href="#servicios">
                <img src="img/home-icon-serv-1.png" alt="Icono velocity" />
                ITOps Autónomo
              </a>
            </li>
            <li>
              <a href="/servicio-itops/">
                <img src="img/home-icon-serv-2.png" alt="Icono velocity" />
                ITOPS
              </a>
            </li>
            <li>
              <a href="#servicios">
                <img src="img/home-icon-serv-3.png" alt="Icono velocity" />
                Nube Pública
              </a>
            </li>
            <li>
              <a href="/servicio-nube-privada/">
                <img src="img/home-icon-serv-4.png" alt="Icono velocity" />
                Nube Privada
              </a>
            </li>
            <li>
              <a href="/servicio-multicloud/">
                <img src="img/home-icon-serv-5.png" alt="Icono velocity" />
                Data y ML
              </a>
            </li>
            <li>
              <a href="#servicios">
                <img src="img/home-icon-serv-7.png" alt="Icono velocity" />
                Soluciones de Industria
              </a>
            </li>
            <li>
              <a href="#servicios">
                <img src="img/home-icon-serv-8.png" alt="Icono velocity" />
                Hardware
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="content-alianzas">
      <div class="box-alianzas">
        <div
          style="display: flex; align-items: center; justify-content: space-between;">
          <img src="img/partners/Ntech_Recorte-7-8.png" alt="Logo Alibaba" />
          <img src="img/partners/Ntech_Recorte-7-3.png" alt="Logo Oracle" />
          <img src="img/partners/Ntech_Recorte-7-7.png" alt="Logo Kaytus" />
          <img src="img/partners/Ntech_Recorte-7-6.png" alt="Logo Atlassian" />
        </div>
        <div
          style="display: flex; align-items: center; justify-content:center; margin-top: 60px; gap: 60px;">
          <img src="img/partners/Ntech_Recorte-7-9.png" alt="Logo Manage" />
          <img src="img/partners/Ntech_Recorte-7-2.png" alt="Logo RocketBot" />
          <img src="img/partners/Ntech_Recorte-7-1.png" alt="Logo Microsoft" />
        </div>
        <div
          style="display: flex; align-items: center; justify-content:center; margin-top: 60px; gap:50px; margin-left: -200px;">
          <img src="img/partners/Ntech_Recorte-7-5.png" alt="Logo bmc" />
          <img src="img/partners/Ntech_Recorte-7-4.png" alt="Logo Zabbix" />
          <img src="img/partners/Ntech_Recorte-7-10.png" alt="Logo Red Hat" />
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="content-evolucion">
      <div
        class="card-gray"
        style="text-align: center; display: block; padding: 60px;">
        <h2 style="font-size:50px; width: 100%;" class="title-evo">
          Evolución<span style="color: var(--verde);">.</span>
        </h2>

        <p style="font-size:20px; font-family: Sofia Pro light;">
          Habilitar en las organizaciones capacidad de adaptabilidad, eficiencia
          y mejora en su rentabilidad a través de soluciones tecnológicas.
        </p>

        <img src="img/hands-greeting.png" alt="Saludo" class="hands-greeting" />
      </div>
    </div>
  </section>
  <section>
    <div class="content-ubicaciones">
      <img src="img/ubicaciones.png" alt="" style="width: 100%;" />
    </div>
  </section>
  <section>
    <div class="content-pasos">
      <div class="card-gray" style="padding-bottom: 200px;">
        <h2 style="font-size:40px; width: 100%; text-align:center;">
          Comencemos hoy con 3 sencillos pasos
        </h2>
      </div>
      <div class="box-items-pasos">
        <img src="img/paso-contact.png" alt="" />
        <img src="img/paso-diagnostico.png" alt="" />
        <img src="img/paso-evolucion.png" alt="" />
      </div>
      <div class="box-items-pasos-info">
        <div>
          Cuéntanos brevemente sobre tu organización, sus objetivos y los
          desafíos tecnológicos que enfrentan.
        </div>
        <div>
          Disfruta de una consulta complementaria con uno de nuestros expertos
          en tecnología para obtener un mapa de ruta de los pasos a seguir en tu
          evolución.
        </div>
        <div style="transform: translateY(-200px) translateX(20px);">
          Dejando a un lado tus preocupaciones tecnológicas, puedes priorizar lo
          que realmente importa: hacer crecer tu negocio.
        </div>
      </div>
      <div style="text-align:center; margin-top: -150px;">
        <a href="" class="btn btn-first"> Comienza Ahora </a>
      </div>
    </div>
  </section>
</Layout>
