---
import "../css/nosotros.css";
import Layout from "../layouts/layout.astro";

import BtnReserva from "../components/btn-reserva.astro";
---

<Layout>
  <section id="inicio">
    <div class="content content-inicio">
      <h1>NUESTRO PROPÓSITO<span>.</span></h1>
      <p class="p-inicio">
        Aceleramos la evolución de las organizaciones <br />
        a través de la tecnología.
      </p>
      <BtnReserva />
    </div>
  </section>
  <section>
    <div class="content content-orgs">
      <div class="content-limit">
        <div class="card-gray relative">
          <img
            src="img/robot-hand.png"
            alt="Mano robotica"
            class="mano-robot"
          />
          <img src="img/human-hand.png" alt="Mano humana" class="mano-humana" />
          <h2 class="text-center font-5 mt-4">
            Las organizaciones innovan de manera rutinaria a través de la
            implementación, desarrollo y operación de activos digitales.
          </h2>
          <p class="text-center font-2 font-light mt-2">
            Habilitamos a la tecnología como el motor de la innovación,
            crecimiento y valor hacía todos los grupos de interés teniendo como
            resultado organizaciones transversalmente digitales.
          </p>
          <div class="text-center mt-3">
            <a href="" class="btn-main">Chatea con un Experto</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="content content-tec">
      <div class="content-limit mt-5">
        <div class="flex gap-2">
          <div style="width: 50%;">
            <h2 class="font-5">
              Tecnología <br />
              para el bien <br />
              de todos
            </h2>
            <hr style="width: 100px;" />
            <p class="font-light">
              Priorizamos la tecnificación de las industrias y la evolución de
              las tecnologías de vanguardia. Nuestra misión se extiende a Ia
              creación de nuevos paradigmas empresariales implulsados por
              iniciativas de base tecnológica para el beneficio de la sociedad.
            </p>
            <img
              src="img/co-creating.png"
              alt="Co creating the feature"
              style="width: 100%;"
              class="mt-1"
            />
          </div>
          <div style="width: 50%;">
            <img src="img/lap-blanck.png" alt="Laptop" style="width: 100%;" />
            <p class="font-light">
              Priorizamos la tecnificación de las industrias y la evolución de
              tecnologías de vanguardia. Nuestra misión se extiende a la
              creación de nuevos paradigmas empresariales implulsados por
              iniciativas de base tecnológica para el beneficio de la sociedad.
            </p>
            <p class="font-light">
              En nuestra visión está la aceleración de la evolución de la
              sociedad a través de la tecnología, reconociendo su papel crucial
              en garantizar su sostenibilidad. Estamos comprornetidos a fomentar
              ecosistemas tecnológicos inclusivos, haciéndolos accesibles para
              todos, independientemente do su experiencia técnica o situación
              económica.
            </p>
            <p class="font-light">
              En <span class="color-verde">n.technology</span>, la inclusividad
              no es solo un objetivo; es un principio fundamental que
              defendemos, asegurando que Ia tecnología sirva como una fuerza
              para el beneficio de todos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="content content-evolucion mt-4 content-image">
      <div class="content-limit flex">
        <div>
          <h2 class="font-5">
            Constantemente evolucionando<span class="color-verde">.</span>
          </h2>
          <p class="font-2 font-light mt-2">
            Las tecnologías evolucionan y nosotros tambien.
          </p>
        </div>
        <div>
          <img src="img/robot-face.png" alt="" style="width: 250px;" />
        </div>
        <div></div>
      </div>
    </div>
  </section>
</Layout>
