---
import Layout from "../layouts/oracle-layout.astro";
import "../css/oracle-servicio-nube.css";

import BtnReserva from "../components/btn-reserva.astro";
---

<Layout>
  <!-- <img src="../img/multi.png" alt="" style="width: 100%;" class="mt-5" /> -->

  <section id="inicio">
    <div class="content content-inicio">
      <div class="content-limit">
        <!-- <img src="/img/inicio-icon-serv-itops.png" alt="Icono Itops" /> -->
        <h1 class="mt-2">SERVICIOS DE NUBE<span>.</span></h1>
        <p class="color-verde font-4 font-light mt-2">
          Nuestras soluciones de nube híbrida se ven reforzadas por nuestra
          asociación estratégica con Oracle Cloud Services, lo que garantiza la
          fiabilidad, la seguridad y el rendimiento de primer nivel.
        </p>
        <p class="color-verde font-4 font-light mt-2">
          Esta colaboración nos permite ofrecer tecnología de vanguardia y una
          integración perfecta, proporcionando a nuestros clientes capacidades y
          soporte en la nube sin precedentes.
        </p>
        <!-- <div class="mt-2">
          <BtnReserva />
        </div> -->
      </div>
    </div>
  </section>
  <section>
    <div class="content content-ti">
      <div class="content-limit">
        <div class="card-gray flex justify-between gap-3">
          <p class="font-bold font-2" style="max-width: 250px;">
            Ofrecemos un asesoramiento estratégico para el uso efectivo de
            plataformas en la nube que se adaptan a las necesidades de nuestros
            clientes<span class="color-verde">.</span>
          </p>
          <div
            class="flex justify-center align-center"
            style="min-width: 250px;">
            <img
              src="../img/multinube.png"
              alt="Planeta"
              style="width: 300px;"
            />
          </div>
          <div>
            <p class="font-light font-1">
              Hacemos esto con la visión de mejorar sus costos y optimizar sus
              cargas de trabajo<span class="color-verde">.</span>
            </p>
            <a href="" class="btn-main mt-2">Chatea con un experto</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="content content-servicios">
      <div class="content-limit mt-5">
        <h2 class="color-verde text-center font-6">Nuestros Servicios</h2>
        <div class="mt-4 flex gap-5">
          <div style="width: 50%; padding: 15px;">
            <div class="flex align-center gap-3">
              <h3 class="color-verde" style="margin: 0;">
                Infraestructura <br /> como servicio:
              </h3>
              <img
                src="../img/icon-oracle-serv-1.png"
                alt="Servicio"
                style="width: 70px;"
              />
            </div>
            <div class="mt-1">
              <p class="p-serv">
                <strong>Virtual Máquinas:</strong>
                <br />
                <span> Provisión de servidores virtuales bajo demanda. </span>
              </p>
            </div>
            <div class="mt-1">
              <p class="p-serv">
                <strong>Almacenamiento:</strong>
                <br />
                <span>
                  Espacio de almacenamiento en la nube que se puede escalar
                  según sea necesario.
                </span>
              </p>
            </div>
            <div class="mt-1">
              <p class="p-serv">
                <strong>Redes:</strong>
                <br />
                <span>
                  Configuración y gestión de redes virtuales para conectar
                  recursos.
                </span>
              </p>
            </div>
            <div class="flex align-center gap-3 mt-2">
              <h3 class="color-verde" style="margin: 0;">
                Software <br /> como servicio :
              </h3>
              <img
                src="../img/icon-oracle-serv-2.png"
                alt="Servicio"
                style="width: 70px;"
              />
            </div>
            <div class="mt-1">
              <p class="p-serv">
                <strong>Aplicaciones empresariales:</strong>
                <br />
                <span>
                  Software accesible a través de Internet que cubre una variedad
                  de necesidades comerciales como CRM, ERB colaboración, etc.
                </span>
              </p>
            </div>
            <div class="flex align-center gap-3 mt-2">
              <h3 class="color-verde" style="margin: 0;">
                Gestión y <br /> orquestación:
              </h3>
              <img
                src="../img/icon-oracle-serv-3.png"
                alt="Servicio"
                style="width: 70px;"
              />
            </div>
            <div class="mt-1">
              <p class="p-serv">
                <strong>Automatización:</strong>
                <br />
                <span>
                  Herramientas para automatizar el aprovisionamiento y la
                  gestión de recursos.
                </span>
              </p>
            </div>
            <div class="mt-1">
              <p class="p-serv">
                <strong>Monitoreo:</strong>
                <br />
                <span>
                  Servicios para monitorear y administrar el rendimiento de las
                  aplicaciones y la infraestructura.
                </span>
              </p>
            </div>
            <div class="flex align-center gap-3 mt-2">
              <h3 class="color-verde" style="margin: 0;">
                Big Data and <br /> Analytics:
              </h3>
              <img
                src="../img/icon-oracle-serv-4.png"
                alt="Servicio"
                style="width: 70px;"
              />
            </div>
            <div class="mt-1">
              <p class="p-serv">
                <strong>Large-scale Data Storage:</strong>
                <br />
                <span>
                  Services to store and manage large volumes of data.
                </span>
              </p>
            </div>
            <div class="mt-1">
              <p class="p-serv">
                <strong>Analytics and Machine Learning:</strong>
                <br />
                <span>
                  Tools and platforms for data analysis and the development of
                  machine learning models.
                </span>
              </p>
            </div>
            <div class="flex align-center gap-3 mt-2">
              <h3 class="color-verde" style="margin: 0;">
                Big Data <br /> y Analítica:
              </h3>
              <img
                src="../img/icon-oracle-serv-5.png"
                alt="Servicio"
                style="width: 70px;"
              />
            </div>
            <div class="mt-1">
              <p class="p-serv">
                <strong>Almacenamiento de datos a gran escala:</strong>
                <br />
                <span>
                  Servicios para almacenar y gestionar grandes volúmenes de
                  datos.
                </span>
              </p>
            </div>
            <div class="mt-1">
              <p class="p-serv">
                <strong>Analytics and Machine Learning:</strong>
                <br />
                <span>
                  Herramientas y plataformas para el análisis de datos y el
                  desarrollo de modelos de machine learning.
                </span>
              </p>
            </div>
          </div>
          <div style="width: 50%; padding: 15px;">
            <div class="flex align-center gap-3 mt-2">
              <h3 class="color-verde" style="margin: 0;">
                Plataforma <br /> como servicio :
              </h3>
              <img
                src="../img/icon-oracle-serv-6.png"
                alt="Servicio"
                style="width: 70px;"
              />
            </div>
            <div class="mt-1">
              <p class="p-serv">
                <strong>Entornos de desarrollo:</strong>
                <br />
                <span>
                  Plataformas para desarrollar, probar e implementar
                  aplicaciones sin preocuparse por Ia infraestructura
                  subyacente.
                </span>
              </p>
            </div>
            <div class="mt-1">
              <p class="p-serv">
                <strong>Bases de datos administradas:</strong>
                <br />
                <span>
                  Servicios de bases de datos que se administran y escalan
                  automáticamente según sea necesario.
                </span>
              </p>
            </div>

            <div class="flex align-center gap-3 mt-2">
              <h3 class="color-verde" style="margin: 0;">
                Seguridad <br /> y cumplimiento:
              </h3>
              <img
                src="../img/icon-oracle-serv-7.png"
                alt="Servicio"
                style="width: 70px;"
              />
            </div>
            <div class="mt-1">
              <p class="p-serv">
                <strong>Protección datos:</strong>
                <br />
                <span>
                  Servicios de cifrado, autenticación y gestión de identidades.
                </span>
              </p>
            </div>
            <div class="mt-1">
              <p class="p-serv">
                <strong>Cumplimiento:</strong>
                <br />
                <span>
                  Herramientas y servicios para garantizar que las operaciones
                  cumplan con las regulaciones y leyes.
                </span>
              </p>
            </div>

            <div class="flex align-center gap-3 mt-2">
              <h3 class="color-verde" style="margin: 0;">
                Contenedores <br /> y Kubernetes:
              </h3>
              <img
                src="../img/icon-oracle-serv-8.png"
                alt="Servicio"
                style="width: 70px;"
              />
            </div>
            <div class="mt-1">
              <p class="p-serv">
                <strong>Orquestación de contenedores:</strong>
                <br />
                <span>
                  Plataformas cortñ0 Kubernetes para gestionar aplicaciones en
                  ontenedores.
                </span>
              </p>
            </div>
            <div class="mt-1">
              <p class="p-serv">
                <strong>Container Services:</strong>
                <br />
                <span>
                  Aprovisionamiento y escalado de aplicaciones basadas en
                  contenedores.
                </span>
              </p>
            </div>

            <div class="flex align-center gap-3 mt-2">
              <h3 class="color-verde" style="margin: 0;">
                Servicios de Inteligencia Artificial (IA) <br /> y Aprendizaje Automático
                (ML):
              </h3>
            </div>
            <div class="mt-1">
              <p class="p-serv">
                <strong>Modelos preentrenados:</strong>
                <br />
                <span> Acceso a modelos de IA y ML preentrenados. </span>
              </p>
            </div>
            <div class="mt-1">
              <p class="p-serv">
                <strong>Infraestructura de entrenamiento:</strong>
                <br />
                <span>
                  Servicios para entrenar modelos de IA y ML a escala.
                </span>
              </p>
            </div>

            <div class="flex align-center gap-3 mt-2">
              <h3 class="color-verde" style="margin: 0;">
                Copia de seguridad <br /> y recuperación:
              </h3>
              <img
                src="../img/icon-oracle-serv-9.png"
                alt="Servicio"
                style="width: 70px;"
              />
            </div>
            <div class="mt-1">
              <p class="p-serv">
                <strong>Copia de seguridad:</strong>
                <br />
                <span>
                  Servicios para la copia de seguridad y recuperación automática
                  de datos.
                </span>
              </p>
            </div>
            <div class="mt-1">
              <p class="p-serv">
                <strong>Disaster Recovery:</strong>
                <br />
                <span>
                  Soluciones para la rápida recuperación de servicios en caso de
                  fallos importantes.
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="mt-4">
          <hr style="width: 200px; margin: auto;" />

          <p class="font-2 mt-2 text-center font-light">
            Ofrecemos una solución tecnológica de vanguardia que permite a las
            empresas administrar y controlar sus datos y aplicaciones de manera
            segura y eficiente.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="content content-beneficios">
      <div class="content-limit mt-6">
        <h2 class="color-verde text-center font-6">Beneficios</h2>
        <div class="box-beneficios mt-3">
          <img
            src="../img/oracle-beneficios-parrafos.png"
            alt="Beneficio"
            style="width: 100%;"
          />
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="content content-contacto">
      <div class="content-limit mt-6">
        <div class="flex align-center gap-3">
          <div style="width: 40%;">
            <h3 class="color-verde font-2">Contáctanos</h3>
            <p class="mt-1 font-light" style="line-height: 20px;">
              Nuestros servicios en la nube combinan la escalabilidad y
              flexibilidad de los servicios de nube pública con el control y la
              seguridad de la infraestructura de nube privada, proporcionando
              una solución integral y adaptable para diversas necesidades
              comerciales.
            </p>
          </div>
          <div style="width: 60%;">
            <div class="form-oracle">
              <input type="text" placeholder="" />
              <div class="flex">
                <input type="text" placeholder="" />
                <input type="text" placeholder="" />
              </div>
              <input type="text" placeholder="" />
              <input type="text" placeholder="" style="height: 60px;" />
              <div>
                <button class="btn">Enviar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
