---
import Layout from "../layouts/layout.astro";
import "../css/servicio-hardware.css";

import BtnReserva from "../components/btn-reserva.astro";
---

<Layout>
  <section id="inicio">
    <div class="content content-inicio">
      <div class="content-limit">
        <img
          src="/img/home-icon-serv-8.png"
          alt="Icono Itops"
          style="width: 100px;"
        />
        <h1 class="mt-2">HARDWARE<span>.</span></h1>
        <p class="color-verde font-4 font-light mt-2">
          Como distribuidor autorizado de los servidores Kaytus en México y
          Latinoamérica, ofrecemos una combinación inigualable de rendimiento,
          fiabilidad y soporte especializado que redefine los estándares de la
          industria.
        </p>
        <div class="mt-2">
          <BtnReserva />
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="content content-tecno">
      <div class="content-limit mt-6">
        <div class="flex justify-between">
          <div style="width: 55%;">
            <h2 class="font-4">Tecnología de Vanguardia</h2>
            <p class="font-light">
              Los servidores Kaytus que ofrecemos en n.tech representan lo
              último en innovación tecnológica. Equipados con los procesadores
              más avanzados y una arquitectura de almacenamiento ultrarrápida,
              estos servidores están diseñados para manejar las cargas de
              trabajo más intensivas de manera eficiente y económica.
            </p>
            <p class="font-light">
              La integración de inteligencia artificial y aprendizaje automático
              permite una optimización automática de recursos, asegurando un
              rendimiento superior y una reducción significativa de costos
              operativos.
            </p>
          </div>
          <div style="width: 45%;" class="flex align-center">
            <img
              src="/img/hardware-tecno.png"
              alt="Servidor"
              style="width: 80%;"
            />
          </div>
        </div>

        <div class="flex justify-between mt-6">
          <div style="width: 45%;" class="flex align-center">
            <img
              src="/img/hardware-sup.svg"
              alt="Servidor"
              style="width: 80%;"
            />
          </div>
          <div style="width: 55%;">
            <h2 class="font-4" style="text-align: right;">
              Soporte Técnico Especializado
            </h2>
            <p class="font-light" style="text-align: right;">
              En n.tech, entendemos que incluso la tecnología más avanzada puede
              requerir asistencia y mantenimiento. Nuestro equipo de soporte
              técnico especializado está disponible 24/7 para resolver cualquier
              problema técnico de manera rápida y eficiente.
            </p>
            <p class="font-light" style="text-align: right;">
              Ofrecemos asesoramiento proactivo para optimizar el rendimiento
              del sistema y prevenir futuros inconvenientes, asegurando que sus
              operaciones tecnológicas funcionen siempre al máximo de su
              capacidad.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="content content-escala">
      <div class="mt-6">
        <div class="flex justify-center flex-wrap gap-4">
          <div class="card-gray">
            <h2>Escalabilidad y Flexibilidad</h2>
            <p>
              Los negocios están en constante cambio, y la infraestructura
              tecnológica debe ser capaz de adaptarse. Los servidores Kaytus que
              ofrecemos en n.tech están diseñados para proporcionar una
              escalabilidad excepcional, permitiendo a su empresa aumentar o
              disminuir sus recursos según sus necesidades.
            </p>
            <p>
              Esta flexibilidad se extiende a la configuración del hardware y
              software, lo que significa que nuestros servidores pueden ser
              personalizados para satisfacer los requisitos únicos de cualquier
              industria.
            </p>
          </div>
          <div class="card-gray">
            <h2>Eficiencia Energética</h2>
            <p>
              En n.tech, nos comprometemos con la sostenibilidad y la eficiencia
              energética. Los servidores Kaytus están diseñados para minimizar
              el consumo de energía sin comprometer el rendimiento, utilizando
              tecnologías de enfriamiento avanzadas y componentes de bajo
              consumo.
            </p>
            <p>
              Esta eficiencia energética no solo reduce los costos operativos
              relacionados con la energía, sino que también contribuye a una
              menor huella de carbono, haciendo que su empresa sea más
              respetuosa con el medio ambiente.
            </p>
          </div>
          <div class="card-gray">
            <h2>Seguridad de Datos Avanzada</h2>
            <p>
              La protección de datos es una prioridad absoluta en n.tech. Los
              servidores Kaytus están equipados con las mejores características
              de seguridad del mercado, desde encriptación de datos en reposo y
              en tránsito hasta sistemas avanzados de detección y prevención de
              intrusiones.
            </p>
            <p>
              Ofrecemos opciones de backup y recuperación ante desastres que
              garantizan la disponibilidad de los datos incluso en casos de
              fallos catastróficos, asegurando que su información crítica esté
              siempre protegida.
            </p>
          </div>
          <div class="card-gray">
            <h2>Relación Calidad-Precio Inigualable</h2>
            <p>
              En n.tech, ofrecemos una relación calidad-precio inigualable. Los
              servidores Kaytus proporcionan un equilibrio perfecto entre costo
              y rendimiento, asegurando que obtenga el máximo retorno de su
              inversión.
            </p>
            <p>
              Al combinar tecnología avanzada, fiabilidad, soporte especializado
              y eficiencia energética en un paquete asequible, ofrecemos una
              solución difícil de superar en el mercado.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="content content-kaytus">
      <div class="content-limit mt-6">
        <h2 class="font-5">
          Nuestros modelos <img
            src="/img/kaytus.svg"
            alt="Kaytus"
            style="vertical-align: bottom; height: 50px; margin-left: 10px; filter: brightness(0) saturate(100%) invert(88%) sepia(91%) saturate(4621%) hue-rotate(14deg) brightness(104%) contrast(90%);"
          />
        </h2>
        <p class="font-2">
          Nuestra oferta de servidores Kaytus está diseñada para satisfacer y
          superar sus expectativas, proporcionando la infraestructura necesaria
          para que su negocio prospere en un mundo cada vez más digital y
          competitivo.
        </p>
        <div class="flex justify-center flex-wrap gap-6 mt-3">
          <div class="item-servidor">
            <p>KR1180-E2</p>
            <img src="/img/servidor-KR1180-E2.png" alt="KR1180-E2" />
          </div>
          <div class="item-servidor">
            <p>KR6880-X2</p>
            <img src="/img/servidor-KR6880-X2.png" alt="KR6880-X2" />
          </div>
          <div class="item-servidor">
            <p>K22-E2</p>
            <img src="/img/servidor-K22-E2.png" alt="K22-E2 " />
          </div>
          <div class="item-servidor">
            <p>K24-X2</p>
            <img src="/img/servidor-K24-X2.png" alt="K24-X2" />
          </div>
          <div class="item-servidor">
            <p>KR4268-E2</p>
            <img src="/img/servidor-KR4268-E2.png" alt="KR4268-E2" />
          </div>
          <div class="item-servidor">
            <p>KR6298-X2</p>
            <img src="/img/servidor-KR6298-X2.png" alt="KR6298-X2" />
          </div>
          <div class="item-servidor">
            <p>KR2266V2</p>
            <img src="/img/servidor-KR2266V2.png" alt="KR2266V2" />
          </div>
          <div class="item-servidor">
            <p>KR4266V2</p>
            <img src="/img/servidor-KR4266V2.png" alt="KR4266V2" />
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
