---
import Layout from "../layouts/layout.astro";

import "../css/servicio-itops.css";

import BtnReserva from "../components/btn-reserva.astro";
import AlcanceIcon from "../components/serv-agileops-alcance-icon.astro";
---

<Layout>
  <!-- <img src="../img/itops.png" class="mt-5" alt="img" style="width: 100%;" /> -->

  <section id="inicio">
    <div class="content content-inicio">
      <div class="content-limit">
        <img src="/img/inicio-icon-serv-itops.png" alt="Icono Itops" />
        <h1 class="mt-2">ITOPS<span>.</span></h1>
        <p class="color-verde font-4 font-light mt-2">
          En N.Technology te ayudamos a que puedas gestionar de la mejor manera
          tus activos de TI.
        </p>
        <div class="mt-2">
          <BtnReserva />
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="content content-consult">
      <div class="content-limit">
        <article class="card-gray">
          <div class="flex justify-between align-center">
            <h2>
              Contamos con servicios de consultoría, implementación y soporte de
              herramientas de ITOM e ITSM bajo las mejores prácticas y con
              diferentes fabricantes y recursos certificados para adecuarnos a
              tus necesidades específicas<span class="color-verde">.</span>
            </h2>
            <div>
              <img
                src="/img/serv-itops-consult.png"
                alt="Icono Servicio de consultoría"
              />
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
  <section>
    <div class="content content-brinda">
      <div class="content-limit mt-4">
        <div class="flex justify-center gap-6 box-brindas">
          <article>
            <h2>Implementación y configuración</h2>
            <hr style="width: 50px;" />
            <p>
              Brindamos servicios de implementación y configuración de
              herramientas de observabilidad y gestión de servicios.
            </p>
          </article>
          <article>
            <h2>Mantenimiento y soporte</h2>
            <hr style="width: 50px;" />
            <p>
              Brindamos servicios continuos de mantenimiento y soporte que
              incluyen actualizaciones periódicas, corrección de errores y
              soporte.
            </p>
          </article>
          <article>
            <h2>Entrenamiento y educación</h2>
            <hr style="width: 50px;" />
            <p>
              Ofrecemos servicios de capacitación y educación que incluyen
              sesiones de capacitación, tutoriales en línea y recursos
              educativos personalizados.
            </p>
          </article>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="content content-itom">
      <div class="content-limit mt-6">
        <h2 class="text-center font-6">
          <span class="color-verde">ITOM</span>
          <br />
          Gestión de Operaciones de TI<span class="color-verde">.</span>
        </h2>
        <h3 class="font-light font-3 text-center letter-space mt-3">ALANCES</h3>
        <div class="flex justify-center mt-2 gap-6 flex-wrap">
          <AlcanceIcon>
            <img
              src="/img/serv-itops-aitom-icon-1.png"
              alt="Icono Monitoreo Web"
              slot="img"
            />
            <span slot="text">Monitoreo Web</span>
          </AlcanceIcon>
          <AlcanceIcon>
            <img
              src="/img/serv-itops-aitom-icon-2.png"
              alt="Icono Monitoreo Servidores"
              slot="img"
            />
            <span slot="text">Monitoreo Servidores</span>
          </AlcanceIcon>
          <AlcanceIcon>
            <img
              src="/img/serv-itops-aitom-icon-3.png"
              alt="Icono Monitoreo Nube"
              slot="img"
            />
            <span slot="text">Monitoreo Nube</span>
          </AlcanceIcon>
          <AlcanceIcon>
            <img
              src="/img/serv-itops-aitom-icon-4.png"
              alt="Icono Monitoreo Red"
              slot="img"
            />
            <span slot="text">Monitoreo Red</span>
          </AlcanceIcon>
          <AlcanceIcon>
            <img
              src="/img/serv-itops-aitom-icon-5.png"
              alt="Icono Monitoreo Aplicaciones"
              slot="img"
            />
            <span slot="text">Monitoreo Aplicaciones</span>
          </AlcanceIcon>
          <AlcanceIcon>
            <img
              src="/img/serv-itops-aitom-icon-6.png"
              alt="Icono Monitoreo UX"
              slot="img"
            />
            <span slot="text">Monitoreo UX</span>
          </AlcanceIcon>
        </div>
        <h3
          class="font-light font-3 text-center letter-space mt-3 color-verde mt-4">
          PRODUCTOS
        </h3>
        <div class="flex justify-center mt-3">
          <img
            src="/img/partners/Ntech_Recorte-7-9.png"
            alt="Logo ManageEngine"
          />
          <img src="/img/partners/Ntech_Recorte-7-5.png" alt="Logo bmc" />
          <img src="/img/partners/Ntech_Recorte-7-4.png" alt="Logo zabbix" />
        </div>

        <hr class="mt-6" />
      </div>
    </div>
  </section>
  <section>
    <div class="content content-itom">
      <div class="content-limit mt-6">
        <h2 class="text-center font-6">
          <span class="color-verde">ITSM</span>
          <br />
          Gestión de Operaciones de TI<span class="color-verde">.</span>
        </h2>
        <h3 class="font-light font-3 text-center letter-space mt-3">ALANCES</h3>
        <div class="flex justify-center mt-2 gap-6 flex-wrap">
          <AlcanceIcon>
            <img
              src="/img/serv-itops-itsm-icon-1.png"
              alt="Icono Monitoreo Web"
              slot="img"
            />
            <span slot="text">Incidentes</span>
          </AlcanceIcon>
          <AlcanceIcon>
            <img
              src="/img/serv-itops-itsm-icon-2.png"
              alt="Icono Monitoreo Servidores"
              slot="img"
            />
            <span slot="text">Servicios</span>
          </AlcanceIcon>
          <AlcanceIcon>
            <img
              src="/img/serv-itops-itsm-icon-3.png"
              alt="Icono Monitoreo Nube"
              slot="img"
            />
            <span slot="text">Conocimiento</span>
          </AlcanceIcon>
          <AlcanceIcon>
            <img
              src="/img/serv-itops-itsm-icon-4.png"
              alt="Icono Monitoreo Red"
              slot="img"
            />
            <span slot="text">Problemas</span>
          </AlcanceIcon>
          <AlcanceIcon>
            <img
              src="/img/serv-itops-itsm-icon-5.png"
              alt="Icono Monitoreo Aplicaciones"
              slot="img"
            />
            <span slot="text">Cambios</span>
          </AlcanceIcon>
          <AlcanceIcon>
            <img
              src="/img/serv-itops-itsm-icon-6.png"
              alt="Icono Monitoreo UX"
              slot="img"
            />
            <span slot="text">Activos</span>
          </AlcanceIcon>
          <AlcanceIcon>
            <img
              src="/img/serv-itops-itsm-icon-7.png"
              alt="Icono Monitoreo UX"
              slot="img"
            />
            <span slot="text">Informes</span>
          </AlcanceIcon>
          <AlcanceIcon>
            <img
              src="/img/serv-itops-itsm-icon-8.png"
              alt="Icono Monitoreo UX"
              slot="img"
            />
            <span slot="text">Integración</span>
          </AlcanceIcon>
          <AlcanceIcon>
            <img
              src="/img/serv-itops-itsm-icon-9.png"
              alt="Icono Monitoreo UX"
              slot="img"
            />
            <span slot="text">Proyectos</span>
          </AlcanceIcon>
          <AlcanceIcon>
            <img
              src="/img/serv-itops-itsm-icon-10.png"
              alt="Icono Monitoreo UX"
              slot="img"
            />
            <span slot="text">Discovery</span>
          </AlcanceIcon>
        </div>
        <h3
          class="font-light font-3 text-center letter-space mt-3 color-verde mt-4">
          PRODUCTOS
        </h3>
        <div class="flex justify-center mt-3 flex-wrap">
          <img
            src="/img/partners/Ntech_Recorte-7-9.png"
            alt="Logo ManageEngine"
          />
          <img src="/img/partners/Ntech_Recorte-7-4.png" alt="Logo zabbix" />
          <img src="/img/partners/Ntech_Recorte-7-6.png" alt="Logo atlassian" />
        </div>
      </div>
    </div>
  </section>
</Layout>
