---
import "../css/app.css";

const { currentLocale } = Astro;

import { getLangFromUrl, useTranslations } from "../i18n/utils.ts";
const lang = getLangFromUrl(Astro.url);
const tl = useTranslations(lang);
---

<a href="#footer" class="btn-main btn-reserva"> {tl("btn.inicio")} </a>
