@font-face {
    font-family: 'Sofia Pro';
    src: url('../../public/fonts/SofiaProLight.otf') format('woff2');
}

@font-face {
    font-family: 'Sofia Pro light';
    src: url('../../public/fonts/SofiaProExtraLight.otf') format('woff2');
}

@font-face {
    font-family: 'Sofia Pro bold';
    src: url('../../public/fonts/SofiaProBold.otf') format('woff2');
}

:root {
    --verde: #c4f10d;
}

/* normalize */
html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 10px;
    /* Tamaño del scroll en vertical */
    height: 10px;
    /* Tamaño del scroll en horizontal */
    /*display: none;*/
    /* Ocultar scroll */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
html::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
html::-webkit-scrollbar-thumb:hover {
    background: #fff;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
html::-webkit-scrollbar-thumb:active {
    background-color: var(--verde);
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    font-family: 'Sofia Pro';
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-size: 18px;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
    font-family: 'Sofia Pro bold';
    margin-top: 0;
}

p {
    text-wrap: pretty;
}

a {
    color: unset;
    text-decoration: none;
}

button {
    all: unset;
    cursor: pointer;
}

img {
    width: unset;
    height: unset;
}

hr {
    border: none;
    border-bottom: 1px solid var(--verde);
    margin: 0;
}

strong {
    font-family: 'Sofia Pro bold';
}

/* clases globales ------------------------ */
.font-light {
    font-family: 'Sofia Pro light';
}

.font-bold {
    font-family: 'Sofia Pro bold';
}

.content {
    width: 100%;
    padding: 0px 50px;
}

.content-limit {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.btn-main {
    border-radius: 100px;
    border: 1px solid var(--verde);
    padding: 15px 60px;
    font-size: 20px;
    transition: 0.5s;
    font-family: 'Sofia Pro light';
    color: #ddd;
}

.btn-main:hover {
    background-color: var(--verde);
    color: #000;
    border-radius: 0px;
}

.card-gray {
    padding: 50px;
    background-color: #131314;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.top-0 {
    top: 0;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.hidden {
    overflow: hidden;
}

.color-verde {
    color: var(--verde);
}

.bg-verde {
    background-color: var(--verde);
}

.mt-1 {
    margin-top: 20px;
}

.mt-2 {
    margin-top: 50px;
}

.mt-3 {
    margin-top: 70px;
}

.mt-4 {
    margin-top: 100px;
}

.mt-5 {
    margin-top: 150px;
}

.mt-6 {
    margin-top: 200px;
}

.font-1 {
    font-size: 18px;
}

.font-2 {
    font-size: 22px;
}

.font-3 {
    font-size: 26px;
}

.font-4 {
    font-size: 32px;
}

.font-5 {
    font-size: 40px;
}

.font-6 {
    font-size: 50px;
}

.gap-1 {
    gap: 10px;
}

.gap-2 {
    gap: 20px;
}

.gap-3 {
    gap: 30px;
}

.gap-4 {
    gap: 40px;
}

.gap-5 {
    gap: 50px;
}

.gap-6 {
    gap: 60px;
}

.z-5 {
    z-index: 5;
}

/* inicio pages ---------------- */
h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
}

h1 span {
    color: var(--verde);
}

.btn-reserva {
    display: inline-block;
    margin: 0;
}

.content-inicio {
    width: 100%;
    height: 100dvh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.p-inicio {
    color: var(--verde);
    font-size: 28px;
    text-align: center;
    margin: 0;
    font-family: 'Sofia Pro light';
}

.content-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/* header --------------------- */
header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: 'Sofia Pro light';
    backdrop-filter: blur(100px);
    z-index: 10;
}

header nav {
    display: flex;
    justify-content: center;
    object-fit: contain;
}

.logo-ntech {
    display: flex;
    align-items: center;
    padding: 0px 30px;
}

.logo-ntech img {
    height: 45px;
    transition: 0.3s;
}

.logo-ntech:hover img {
    transform: scale(1.03);
}

.nav-item {
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    transition: 0.2s;
    color: #d0d0d0;
    position: relative;
}

.nav-item::before {
    content: "";
    width: 1px;
    height: 16px;
    position: absolute;
    top: calc(50% - 8px);
    right: 0;
    background-color: #7e7e7e;
}

.nav-item:last-child::before {
    display: none;
}

.nav-item span {
    display: flex;
    align-items: center;
}

.nav-item:hover span {
    color: #fff;
}

.line-back-header {
    position: absolute;
    width: 0px;
    bottom: 12px;
    border-color: #fff;
    transition: 0.3s;
    opacity: 0;
}

header:hover .line-back-header {
    opacity: 1;
}

.header-list-servs {
    width: 270px;
    top: 80px;
    position: absolute;
    background-color: #222222;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;

    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
    clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
}

.btn-servs-options:hover .header-list-servs {
    visibility: visible;
    opacity: 1;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
}

.header-list-servs li {
    padding: 15px;
}

.header-list-servs li a::before {
    content: "";
    height: 2px;
    width: 0px;
    background-color: var(--verde);
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    transition: 0.2s;
}

.header-list-servs li:hover a::before {
    width: 10px;
}

.btn {
    display: inline-block;
}

/* footer ----------- */
footer {
    margin-top: 200px;
    width: 100%;
    background-color: #131314;
}

.lines-footer {
    width: 100%;
    margin-top: -150px;
}

.footer-box-info {
    width: 1000px;
    margin: auto;
    margin-top: 100px;
    padding-bottom: 100px;
    line-height: 30px;
    font-family: 'Sofia Pro light';

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-box-info h2 {
    font-size: 40px;
    font-family: 'Sofia Pro light';
}

.icon-footer {
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
}

.logo-footer {
    height: 50px;
}

.copyright-footer {
    background-color: #1b1b1c;
    width: 100%;
    height: 70px;
    display: grid;
    place-items: center;
    letter-spacing: 7px;
    color: #ababad;
}