.content-inicio {
    padding-top: 200px;
    height: auto;
}

.content-provi {
    background-image: url('../img/fondo-car.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.content-racing.content-image {
    background-image: url('../img/fondo-racing.png');
    padding-top: 80px;
    padding-bottom: 150px;
}

.video-car {
    width: 600px;
    margin: auto;
    display: block;
    border-radius: 30px;
    margin-top: -60px;
}

.img-circle-fondo-video {
    width: 300px;
    top: 200px;
    left: 100px;
    z-index: -1;
}