.content-inicio {
    background-image: url('../../public/img/fondo-mundo.png');
}

.content-inicio * {
    animation: entry-inicio 2s;
}

@keyframes entry-inicio {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.first-p {
    color: var(--verde);
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
}

.btn-first {
    border-radius: 100px;
    border: 1px solid var(--verde);
    padding: 10px 25px;
    font-size: 18px;
    margin-top: 40px;
    transition: 0.4s;
}

.btn-first:hover {
    background-color: var(--verde);
    color: #000;
    border-radius: 0px;
    padding: 10px 35px;
}

.content-cohete {
    padding-top: 50px;
}

.box-cohete {
    position: relative;
}

.cohete {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-250px);
    width: 800px;
}

.card-gray-cohete {
    background-color: #131314;
    margin: auto;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.card-gray-cohete div {
    width: 300px;
}

.list-cohete {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-cohete li {
    display: flex;
    align-items: start;
    gap: 10px;
    margin-bottom: 20px;
}

.list-cohete img {
    min-width: 20px;
}

.card-gray-gran {
    background-image: url('../../public/img/fondo-card.png');
    background-size: cover;
    width: 100%;
    margin: auto;
    padding: 50px;
    padding-top: 100px;
    text-align: center;
}

.items-serv ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.items-serv ul li {
    width: 350px;
    height: 60px;
    margin-bottom: 20px;
    background-color: #131314;
    color: var(--verde);
    padding-left: 30px;
    font-size: 18px;
    font-family: 'Sofia Pro bold';
    cursor: pointer;
    transition: 0.2s;
}

.items-serv ul li:hover {
    background-color: var(--verde);
    color: #000;
    transform: translateX(-30px);
}

.items-serv ul li:hover img {
    filter: grayscale(100%) brightness(100%) invert(100%)
}

.items-serv ul li a {
    display: flex;
    align-items: center;
    gap: 30px;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.items-serv ul li a img {
    height: 30px;
}


.content-servicios p {
    line-height: 35px;
    font-family: 'Sofia Pro light';
    margin-top: 40px;
}

.box-alianzas img {
    height: 38px;
}

.title-evo {
    border-bottom: 4px solid #000;
    padding-bottom: 30px;
}

.hands-greeting {
    height: 150px;
    transform: scale(2) translateY(40px);
}

.box-isos img {
    width: 230px;
}

.box-columns-green {
    margin-top: -140px;
    transform: translateX(40px);
}

.box-columns-green img {
    width: 250px;
}

.column-green {
    transform: translateX(40px);
    width: 33.33%;
}

.column-green p {
    padding-right: 75px;
    font-family: 'Sofia Pro light';
}


.box-columns-green .column-green {
    animation: pasos-entry both;
    animation-timeline: view();
}

.box-columns-green .column-green:nth-child(1n) {
    animation-range: entry 0% cover 20%;
}

.box-columns-green .column-green:nth-child(2n) {
    animation-range: entry 20% cover 30%;
}

.box-columns-green .column-green:nth-child(3n) {
    animation-range: entry 30% cover 50%;
}

@keyframes pasos-entry {
    0% {
        transform: translateY(150px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.items-serv ul li {
    animation: servs-entry both;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
}

@keyframes servs-entry {
    0% {
        clip-path: polygon(0 0, 20% 0, 20% 100%, 0% 100%);
    }

    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

@media (max-width: 1400px) {
    .cohete {
        transform: translateX(-50%) translateY(-150px);
        width: 700px;
    }
}

@media(max-width: 1100px) {
    .content-cohete .card-gray-cohete {
        flex-direction: column;
    }

    .card-gray-cohete div {
        width: 100%;
        margin-bottom: 50px;
    }

    .cohete {
        width: 300px;
        right: 0;
        transform: translateY(-150px) translateX(100px);
        z-index: 0;
        filter: brightness(0.5);
    }

    .items-serv ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
        margin-top: 50px;
    }

    .box-alianzas .justify-between {
        justify-content: center;
        gap: 50px;
    }

    .last-item-alianzas {
        margin-left: 0px !important;
    }

    .column-green {
        transform: translateX(0px);
        display: flex;
        gap: 20px;
        align-items: center;
        text-align: left !important;
        animation: none !important;
    }

    .column-green img {
        width: 200px;
    }

    .column-green p {
        text-align: left;
    }
}