.content-inicio {
    background-image: url('../../public/img/fondo-oracle-nube.png');
}

.p-serv{
    line-height: 22px;
    font-family: 'Sofia Pro light';
}

.box-beneficios{
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px; */
}