.content-inicio {
    background-image: url('../../public/img/fondo-hardware.png');
}

.card-gray {
    border-radius: 20px !important;
    width: 40%;
}

.item-servidor {
    text-align: center;
    font-weight: bolder;
    color: var(--verde);
    filter: grayscale(100%);
    transition: 0.3s;
}

.item-servidor img {
    margin-top: 5px;
    height: 80px;
    transition: 0.3s;
}

.item-servidor:hover {
    filter: grayscale(0%);
}

.item-servidor:hover img {
    transform: scale(1.08);
}