---
import "../css/app.css";

const { currentLocale } = Astro;

import { getLangFromUrl, useTranslations } from "../i18n/utils.ts";
const lang = getLangFromUrl(Astro.url);
const tl = useTranslations(lang);

import { getRelativeLocaleUrl } from "astro:i18n";

import HeaderApp from "../components/layout-header.astro";
---

<html lang="es-MX">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/img/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>ntechnology</title>
  </head>
  <body>
    <HeaderApp />
    <script>
      let navItems = document.querySelectorAll(".nav-item");
      let line = document.querySelector(".line-back-header") as HTMLElement;

      navItems.forEach((item) => {
        item.addEventListener("mouseenter", () => {
          const { left, width } = item.getBoundingClientRect();
          const { clientWidth } = item;

          line.style.setProperty("left", left + 15 + "px");
          line.style.setProperty("width", width - 30 + "px");
        });
      });
    </script>

    <style>
      .oracle-circle {
        width: 60px;
        height: 60px;
        overflow: hidden;
        position: fixed;
        top: 100px;
        right: 0px;
        border: 1px solid #444444;
        border-radius: 1000px;
        transition: 0.3s;
        cursor: pointer;
        display: none;
      }
      .oracle-circle:hover {
        width: 200px;
        height: 100px;
        border-radius: 0px;
        border: #00000000 1px solid;
      }
      .oracle-circle img {
        width: 200px;
      }
    </style>
    <a href="/oracle-servicio-nube">
      <div class="oracle-circle">
        <img src="/img/oracle-logo.png" alt="Oracle logo" />
      </div>
    </a>

    <main>
      <slot />
    </main>
    <footer id="footer">
      <img src="/img/footer-lines.png" alt="" class="lines-footer" />

      <div class="footer-box-info">
        <div>
          <span style="color: var(--verde); font-family: 'Sofia Pro bold';"
            >Technology Innovation Campus</span
          >
          <br />

          <a href="https://maps.app.goo.gl/tog8EcdYWHkPg8yq6" target="_blank">
            Av. Insurgentes Sur 303, <br />
            Hipódromo Condesa, Cuauhtémoc, CDMX México <br />
            C.P. 06100
            <span class="color-verde" style="margin: 0px 10px;"> | </span> CDMX
            <span class="color-verde" style="margin: 0px 10px;"> | </span> MÉXICO
          </a>
        </div>
        <div>
          <div class="flex align-center item-flex-footer">
            <div class="icon-footer">
              <img src="/img/icon-mail.png" alt="" />
            </div>
            contacto@n.technology
          </div>

          <div class="flex align-center item-flex-footer">
            <div class="icon-footer">
              <img src="/img/icon-phone.png" alt="" />
            </div>
            55 . 1169 . 1227
          </div>

          <div class="flex align-center item-flex-footer">
            <div class="icon-footer"></div>
            <a href="aviso-privacidad">{tl("footer.politica")}</a>
          </div>
        </div>
        <div>
          <a
            href="https://www.linkedin.com/company/ntechnologymx/"
            target="_blank">
            <img src="/img/logo.png" alt="Logo Ntech" class="logo-footer" />

            <div
              class="flex align-center mt-1"
              style="justify-content: flex-end;">
              <div class="icon-footer">
                <img src="/img/icon-link.png" alt="" />
              </div>
              /n-technology
            </div>
          </a>
        </div>
      </div>
      <div class="copyright-footer">
        Copyright @ 2023 | All rights reservedNTechnology
      </div>
    </footer>
  </body>
</html>
