---
import "../css/app.css";

const { currentLocale } = Astro;

import { getLangFromUrl, useTranslations } from "../i18n/utils.ts";
const lang = getLangFromUrl(Astro.url);
const tl = useTranslations(lang);

import { getRelativeLocaleUrl } from "astro:i18n";
---

<html lang="es-MX">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/img/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>ntechnology</title>
  </head>
  <body>
    <header>
      <nav>
        <a
          href={getRelativeLocaleUrl(currentLocale ?? "", "/")}
          class="logo-ntech"
        >
          <img src="/img/logo.png" alt="Logo Ntechnology" />
        </a>
        <button class="nav-item btn-servs-options">
          <span>{tl("nav.servicios")}</span>
          <ul class="header-list-servs">
            <!-- <li><a href="">{tl("serv.itopsAuto")}</a></li> -->
            <li>
              <a
                href={getRelativeLocaleUrl(
                  currentLocale ?? "",
                  "servicio-itops"
                )}>{tl("serv.itops")}</a
              >
            </li>
            <!-- <li><a href="">{tl("serv.nubePublica")}</a></li> -->
            <li>
              <a
                href={getRelativeLocaleUrl(
                  currentLocale ?? "",
                  "servicio-nube-privada"
                )}>{tl("serv.nubePrivada")}</a
              >
            </li>
            <li>
              <a
                href={getRelativeLocaleUrl(
                  currentLocale ?? "",
                  "servicio-multicloud"
                )}>{tl("serv.dataMl")}</a
              >
            </li>
            <!-- <li><a href="">{tl("serv.industria")}</a></li> -->
            <!-- <li><a href="">Hardware</a></li> -->
          </ul>
        </button>
        <a
          href={getRelativeLocaleUrl(currentLocale ?? "", "nosotros")}
          class="nav-item"><span> {tl("nav.nosotros")} </span></a
        >
        <a
          href={getRelativeLocaleUrl(currentLocale ?? "", "porque-ntechnology")}
          class="nav-item"><span>{tl("nav.porque")}</span></a
        >
        <a href="https://n.technology/news/" class="nav-item" target="_blank"
          ><span>Blog</span></a
        >
        <a href="#footer" class="nav-item"><span>{tl("nav.contacto")}</span></a>

        <a
          href={getRelativeLocaleUrl("es" ?? "", "/")}
          class="nav-item switch-lang"
        >
          <span>ES. <img src="/img/flag-mx.png" alt="Bandera méxico" /> </span>
        </a>
        <a
          href={getRelativeLocaleUrl("en" ?? "", "/")}
          class="nav-item switch-lang"
        >
          <span>
            EN. <img src="/img/flag-us.png" alt="Bandera US" />
          </span>
        </a>
      </nav>
      <hr class="line-back-header" />
    </header>
    <script>
      let navItems = document.querySelectorAll(".nav-item");
      let line = document.querySelector(".line-back-header") as HTMLElement;

      navItems.forEach((item) => {
        item.addEventListener("mouseenter", () => {
          const { left, width } = item.getBoundingClientRect();
          const { clientWidth } = item;

          line.style.setProperty("left", left + 15 + "px");
          line.style.setProperty("width", width - 30 + "px");
        });
      });
    </script>
    <main>
      <slot />
    </main>
    <footer id="footer">
      <img src="/img/footer-lines.png" alt="" class="lines-footer" />

      <div class="footer-box-info">
        <div>
          <span style="color: var(--verde); font-family: 'Sofia Pro bold';"
            >Technology Innovation Campus</span
          >
          <br />

          <a href="https://maps.app.goo.gl/tog8EcdYWHkPg8yq6" target="_blank">
            Av. Insurgentes Sur 303, <br />
            Hipódromo Condesa, Cuauhtémoc, CDMX México <br />
            C.P. 06100
            <span class="color-verde" style="margin: 0px 10px;"> | </span> CDMX
            <span class="color-verde" style="margin: 0px 10px;"> | </span> MÉXICO
          </a>
        </div>
        <div>
          <div class="flex align-center">
            <div class="icon-footer">
              <img src="/img/icon-mail.png" alt="" />
            </div>
            contacto@n.technology
          </div>

          <div class="flex align-center">
            <div class="icon-footer">
              <img src="/img/icon-phone.png" alt="" />
            </div>
            55 . 1169 . 1227
          </div>

          <div class="flex align-center">
            <div class="icon-footer"></div>
            <a href="aviso-privacidad">{tl("footer.politica")}</a>
          </div>
        </div>
        <div>
          <a
            href="https://www.linkedin.com/company/ntechnologymx/"
            target="_blank"
          >
            <img src="/img/logo.png" alt="Logo Ntech" class="logo-footer" />

            <div
              class="flex align-center mt-1"
              style="justify-content: flex-end;"
            >
              <div class="icon-footer">
                <img src="/img/icon-link.png" alt="" />
              </div>
              /n-technology
            </div>
          </a>
        </div>
      </div>
      <div class="copyright-footer">
        Copyright @ 2023 | All rights reservedNTechnology
      </div>
    </footer>
  </body>
</html>
